<div class="container">
    <h4>Take, TakeLast and TakeUntil Operator</h4>

    <div class="container py-3 px-0">
        <div class="card bg-light p-2 mb-4 shadow-sm">
           <span>
            <b>Ex: </b> <span> "Pradeep", "Vishal", "Mahendra", "Kanu", "Jp", "Raj", "Kajal", "Chetna"</span>
           </span>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>Take : </b>take(3)</div>
                    <div class="card-body">
                        <ul id="elContainer1">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>TakeLast : </b>takeLast(5)</div>
                    <div class="card-body">
                        <ul id="elContainer2">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>TakeUntil : </b>takeUntil(condition)</div>
                    <div class="card-body">
                        <ul id="elContainer3">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>