<div class="container">
    <h4>Concat Map</h4>

    <div class="container py-3 px-0">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>Ex-1 | Map</b></div>
                    <div class="card-body">
                        <p><b>Videos : </b>["Tech","Comedy","News"]</p>
                        <ul id="elContainer1"></ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>Ex-2 | Map + Concat All</b></div>
                    <div class="card-body">
                        <p><b>Videos : </b>["Tech","Comedy","News"]</p>
                        <ul id="elContainer2"></ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header"><b>Ex-3 | concatMap</b></div>
                    <div class="card-body">
                        <p><b>Videos : </b>["Tech","Comedy","News"]</p>
                        <ul id="elContainer3"></ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>