<div class="container">
    <h4>Form Event</h4>

    <div class="container py-3 px-0">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Add Video</div>
                    <div class="card-body">
                        <button class="btn btn-primary" #addVideoBtn>Add Video</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="card bg-light mb-3">
                    <div class="card-header">Videos</div>
                    <div class="card-body">
                        <ul id="videos"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>