<div class="container">
    <h4>Merge</h4>

    <div class="container py-3 px-0">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Tech Channel</div>
                    <div class="card-body">
                        <ul>
                            <li>1,2,3,4,5</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">Comedy Channel</div>
                    <div class="card-body">
                        <ul>
                            <li>1,2,3</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header">News Channel</div>
                    <div class="card-body">
                        <ul>
                            <li>1,2,3,4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card bg-light mb-3">
                    <div class="card-header">My Channel</div>
                    <div class="card-body">
                        <ul id="myChannel"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>