<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/form-event">
      <b>fromEvent</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/interval">
      <b>interval() & timer()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/of-from">
      <b>of() & from()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/toArray">
      <b>toArray()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/custom-observable">
      <b>My Custom Observable</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/map">
      <b>map()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/pluck">
      <b>pluck()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/filter">
      <b>filter()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/tap">
      <b>tap()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/take">
      <b>take()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/retry">
      <b>retry()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/debounce-time">
      <b>debounceTime()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/subject">
      <b>subject()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/replay-subject">
      <b>replaySubject()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/concat">
      <b>concat()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/merge">
      <b>merge()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/merge-map">
      <b>mergeMap()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/concat-map">
      <b>concatMap()</b>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card bg-light px-5 py-4 shadow-sm text-center" routerLink="/observable/switch-map">
      <b>switchMap()</b>
    </div>
  </div>
 
</div>