<div class="container">
    <h4>Of & From</h4>
    <div class="container py-3 px-0">
        <div class="row">
            <div class="col-12 col-md-6">
                <strong>Ex-1. of()</strong>
                <hr>
                <div class="card p-2 bg-light">
                    <b>of('Vijay','Shakher','Sharma')</b>
                </div><br>
                <ul id="obs1"></ul>
            </div>
            <div class="col-12 col-md-6">
                <strong>Ex-2. of()</strong>
                <hr>
                <div class="card p-2 bg-light">
                    <b>of(&#123;fname:'Vijay',mname:'Shakher',lname:'Sharma'&#125;)</b>
                </div><br>
                <ul>
                    <li>{{Obs2Mes.fname}}</li>
                    <li>{{Obs2Mes.mname}}</li>
                    <li>{{Obs2Mes.lname}}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <strong>Ex-1. from() with Array</strong>
                <hr>
                <div class="card p-2 bg-light">
                    <b>from(['Vijay','Shakher','Sharma'])</b>
                </div><br>
                <ul id="Arrobs"></ul>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <strong>Ex-2. from() with Promise</strong>
                <hr>
                <div class="card p-2 bg-light">
                    <b>Promise to Observable</b>
                </div><br>
                <ul id="PromiseObs"></ul>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <strong>Ex-3. from() with String</strong>
                <hr>
                <div class="card p-2 bg-light">
                    <b>String to Observable</b>
                </div><br>
                <ul id="strObs"></ul>
            </div>
        </div>
    </div>
</div>