<div class="container">
    <h4>Map Operator</h4>


    <div class="container py-3 px-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">Ex-1</div>
                    <div class="card-body" *ngIf="mess1">
                        <ul>
                            <li>{{mess1}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="card bg-light mb-3">
                    <div class="card-header">Ex-2</div>
                    <div class="card-body">
                        <ul id="mess2"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>