<div class="container">
    <h4>Pluck Operator</h4>

    <div class="container py-3 px-0">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="card bg-light mb-3">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        <ul *ngFor="let user of userData;">
                            <li>{{user}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>